header {

  .hero-section {
    height: 100vh;
    overflow: hidden;
    position: relative;

    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;

      &.swiper-pagination-bullet-active {
        background-color: #fff;
      }
    }


    .image-wrap {

      height: 100%;

      img {
        object-position: center;

      }
    }
  }
}