$transition:all .5s ease-in-out;
// $transition3:all .3s ease-in-out;
// $transition7:all .7s ease-in-out;
$textColor:#707070;
$mainColor:#CAB748;



@mixin flex-d($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;

}

@mixin grid-wrapper($px) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($px, 1fr));
  gap: 20px;
}