.page-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9999999955;
  display: flex;
  align-items: center;
  justify-content: center;
  // display: none;

  .navbar-brand {
    display: flex;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 250px;
    position: relative;






    svg {
      path {
        stroke-width: 3px;
        fill: rgba(0, 0, 0, 0);
        stroke: #988d74;
        stroke-dasharray: 15824;
        stroke-dashoffset: 15824;
        animation: fadeLogo 3s cubic-bezier(1, 0.6, 0.8, 0.8) forwards, fillLogo 1.5s forwards 2.5s;
      }
    }
  }
}

@keyframes fadeLogo {
  to {
    stroke-dashoffset: 0;
  }

}

@keyframes fillLogo {
  to {
    fill: url(#paint0_linear_1_4)
  }

}

@keyframes fillLogo2 {
  to {
    fill: #863565;
  }

}


@keyframes move {
  100% {
    offset-distance: 100%;
  }

}