* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
  font-family: "Tajawal";
  font-size: 16px;
}

body {
  font-family: "Tajawal";
  text-align: start;
  position: relative;
  background-color: #fff;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  background-color: #EEEDF3;
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 25px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #EEEDF3;
  width: 10px;
}

.image-wrap img,
.image-wrap video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-btn {
  background-color: #CAB748;
  padding: 10px;
  min-width: 120px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  text-align: center;
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 1px solid #CAB748;
  margin: auto;
  font-size: 18px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  position: relative;
  z-index: 3;
  transition: all 0.5s ease-in-out;
}
.main-btn span {
  position: relative;
  z-index: 6;
  font-size: 12px;
}
.main-btn:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #fff;
  color: #CAB748;
}
.main-btn.reversed {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.main-btn.reversed:hover {
  background-color: #CAB748;
  color: #fff;
  border: 2px solid #CAB748;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4901960784);
  z-index: 3;
}

.head {
  text-align: start;
  margin-bottom: 50px;
}
.head.centered {
  text-align: center;
}
.head.centered h3 {
  text-align: center;
  margin: 0 auto 20px auto;
  font-size: 28px;
  font-weight: bold;
}
.head > h3 {
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 20px;
  text-align: start;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 0px 0;
  gap: 20px;
  color: #000;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.head > h3::before {
  content: "";
  position: absolute;
  inset-inline-start: 0;
  bottom: 0;
  background-color: #CAB748;
  height: 4px;
  width: 100%;
  margin: auto;
  border-radius: 6px;
}

.overlay-all {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6117647059);
  position: fixed;
}
.overlay-all.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.toggle-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 31px;
  height: 21px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10.5%;
          flex: 0 0 10.5%;
  max-width: 32px;
  display: none;
}
.toggle-btn .bar {
  background-color: #fff;
  width: 100%;
  height: 3px;
}

figure.image-wrap {
  margin: 0;
}

.sec-p, .best-seller, .latest-products, .categories, footer {
  padding: 50px 0;
}

.page-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: none;
}
.page-loading .navbar-brand {
  width: 350px;
  height: 200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-loading .navbar-brand svg {
  width: 100%;
  height: 100%;
}
.page-loading .navbar-brand svg path:not(:first-child) {
  stroke: #F6BD0B;
  fill: #F6BD0B;
  opacity: 0;
}
.page-loading .navbar-brand svg path:nth-child(2) {
  -webkit-animation: 1.2s linear bounce forwards;
  animation: 1.2s linear bounce forwards;
}
.page-loading .navbar-brand svg path:first-child {
  stroke: #034E43;
  stroke-width: 3px;
  fill: transparent;
  stroke-dasharray: 679;
  stroke-dashoffset: 679;
  -webkit-animation: 2s linear animateLogo 0.5s forwards, 1s logoFill 3s linear forwards;
  animation: 2s linear animateLogo 0.5s forwards, 1s logoFill 3s linear forwards;
}
.page-loading .navbar-brand svg path:nth-child(4) {
  -webkit-animation: 2s linear bounce forwards 1s;
  animation: 2s linear bounce forwards 1s;
}
.page-loading .navbar-brand svg path:nth-child(5) {
  -webkit-animation: 2s linear bounce forwards 1.4s;
  animation: 2s linear bounce forwards 1.4s;
}
.page-loading .navbar-brand svg path:nth-child(3) {
  -webkit-animation: 2s linear bounce forwards 1.6s;
  animation: 2s linear bounce forwards 1.6s;
}

@-webkit-keyframes animateLogo {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes animateLogo {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes logoFill {
  to {
    fill: #034E43;
  }
}
@keyframes logoFill {
  to {
    fill: #034E43;
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0.3;
  }
  50% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0.3;
  }
  50% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
header .hero-section {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
header .hero-section .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}
header .hero-section .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}
header .hero-section .image-wrap {
  height: 100%;
}
header .hero-section .image-wrap img {
  -o-object-position: center;
     object-position: center;
}

footer {
  background-color: #000;
}
footer .logo .image-wrap {
  width: 150px;
}

nav {
  background-color: #000;
  padding: 20px 0;
  color: #707070;
}
nav .upper-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  gap: 20px;
}
nav .upper-bar .logo {
  width: 250px;
}
nav .upper-bar .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  color: #fff;
}
nav .nav-bar .nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px;
}
nav .nav-bar .nav-flex .navbar-brand {
  width: 75px;
  position: relative;
}
nav .nav-bar .nav-flex .navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
nav .nav-bar .nav-flex .navbar-links > li {
  position: relative;
}
nav .nav-bar .nav-flex .navbar-links > li > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3px;
  padding: 5px 0;
  font-size: 22px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
  gap: 10px;
  text-transform: capitalize;
}
nav .nav-bar .nav-flex .navbar-links > li > a:hover {
  color: #CAB748;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
nav .nav-bar .nav-flex .navbar-links > li > a.active {
  color: #CAB748;
  font-weight: bold;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
nav .nav-bar .nav-flex .navbar-links > li.menu-item-has-children > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
nav .nav-bar .nav-flex .navbar-links > li.menu-item-has-children > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  color: #fff;
}
nav .nav-bar .nav-flex .navbar-links > li .sub-menu {
  position: absolute;
  top: 63px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 220px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  overflow: initial;
  text-align: start;
}
nav .nav-bar .nav-flex .navbar-links > li .sub-menu::-webkit-scrollbar {
  background-color: #fff;
  width: 5px;
}
nav .nav-bar .nav-flex .navbar-links > li .sub-menu::-webkit-scrollbar-thumb {
  Background-color: #fff;
}
nav .nav-bar .nav-flex .navbar-links > li .sub-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ff0000;
  width: 10px;
}
nav .nav-bar .nav-flex .navbar-links > li .sub-menu > li {
  padding: 15px 10px;
}
nav .nav-bar .nav-flex .navbar-links > li .sub-menu > li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
nav .nav-bar .nav-flex .navbar-links > li .sub-menu > li a {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
nav .nav-bar .nav-flex .navbar-links > li .sub-menu > li.menu-item-has-children {
  position: relative;
}
nav .nav-bar .nav-flex .navbar-links > li .sub-menu > li.menu-item-has-children > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .nav-bar .nav-flex .navbar-links > li .sub-menu > li.menu-item-has-children > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f104";
  margin: 0 5px;
}
nav .nav-bar .nav-flex .navbar-links > li .sub-menu > li.menu-item-has-children > .sub-menu {
  position: absolute;
  top: 0;
  left: -240px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 220px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
nav .nav-bar .nav-flex .navbar-links > li .sub-menu > li.menu-item-has-children:hover > .sub-menu {
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  top: 0px;
  left: -220px;
  opacity: 1;
  visibility: visible;
  z-index: 255;
}
nav .nav-bar .nav-flex .navbar-links > li:hover > .sub-menu {
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  top: 25px;
  opacity: 1;
  visibility: visible;
  z-index: 254;
}
nav .nav-bar .nav-flex .navbar-links li {
  position: relative;
}
nav .nav-bar .nav-flex .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  color: #fff;
}
nav .nav-bar .nav-flex .icons .languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
nav .nav-bar .nav-flex .icons .languages img {
  width: 25px;
}
nav .nav-bar .nav-flex .icons li a {
  font-size: 22px;
}
nav .nav-bar .nav-flex .search-form form {
  width: 100%;
  position: relative;
}
nav .nav-bar .nav-flex .search-form form input {
  width: 100%;
  min-height: 45px;
  -webkit-padding-start: 15px;
          padding-inline-start: 15px;
}
nav .nav-bar .nav-flex .search-form form input:focus {
  border: 1px solid #CAB748;
  outline: 0;
  -webkit-box-shadow: 0 0 3px 3px #CAB748;
          box-shadow: 0 0 3px 3px #CAB748;
}
nav .nav-bar .nav-flex .search-form form .btn {
  background: transparent;
  color: #000;
  position: absolute;
  top: 50%;
  inset-inline-end: 10px;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  font-size: 18px;
}
nav .nav-bar .nav-flex .main-btn {
  margin: 0;
  min-width: 120px;
}
.navbar-mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  inset-inline-start: -1200px;
  background-color: rgba(33, 36, 61, 0.6901960784);
  color: #707070;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  padding: 20px 20px 0 0;
  overflow: scroll;
  width: 90%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition: 1s ease-out all;
  transition: 1s ease-out all;
  text-align: start;
  z-index: 10;
}
.navbar-mobile::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7019607843);
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-border-end: 4px solid #fff;
          border-inline-end: 4px solid #fff;
  -webkit-transition: 0.7s all linear;
  transition: 0.7s all linear;
}
.navbar-mobile .nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
  z-index: 55;
}
.navbar-mobile .nav-flex .navbar-brand img {
  width: 85px;
}
.navbar-mobile .nav-flex .close-btn {
  display: block;
  text-align: left;
  padding-left: 10px;
  font-size: 35px;
  color: #fff;
  margin: 10px;
}
.navbar-mobile .nav-flex::after {
  content: "";
  background-color: #707070;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -10px;
  right: -15px;
}
.navbar-mobile .mobile-links {
  padding: 15px;
  position: relative;
  z-index: 55;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.navbar-mobile .mobile-links li {
  position: relative;
  padding: 10px 0;
}
.navbar-mobile .mobile-links li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding: 5px;
  font-size: 18px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
  gap: 10px;
}
.navbar-mobile .mobile-links li a.active {
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #CAB748;
}
.navbar-mobile .mobile-links li.menu-item-has-children {
  position: relative;
}
.navbar-mobile .mobile-links li.menu-item-has-children > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f104";
  inset-inline-end: 10px;
  top: 50%;
  position: absolute;
  -webkit-transform: rotate(0deg) translate(0, -50%);
          transform: rotate(0deg) translate(0, -50%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #fff;
}
.navbar-mobile .mobile-links li.menu-item-has-children > a.arrow {
  padding: 10px;
}
.navbar-mobile .mobile-links li.menu-item-has-children > a.arrow::after {
  -webkit-transform: rotate(-90deg) translate(0, -50%);
          transform: rotate(-90deg) translate(0, -50%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform-origin: center top;
          transform-origin: center top;
}
.navbar-mobile .mobile-links li .sub-menu {
  background: rgba(33, 36, 61, 0.0784313725);
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 85%;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}
.navbar-mobile .mobile-links li .sub-menu > li {
  padding: 10px 10px 10px 0;
  position: relative;
}
.navbar-mobile .mobile-links li .sub-menu > li a {
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar-mobile .mobile-links li .sub-menu.show {
  opacity: 1;
  max-height: 1000px;
  visibility: visible;
  padding: 10px 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navbar-mobile .mobile-links li.clicked > a {
  background-color: #CAB748;
  color: #fff !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navbar-mobile .mobile-links li {
  position: relative;
}
.navbar-mobile.active {
  opacity: 1;
  visibility: visible;
  inset-inline-start: 0;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}
.navbar-mobile.active::before {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.7s all linear;
  transition: 0.7s all linear;
  width: 90%;
}

.categories .cat-swiper {
  overflow: hidden;
}
.categories .cat-swiper .item {
  text-align: center;
}
.categories .cat-swiper .item .image-wrap {
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
}
.categories .cat-swiper .item .image-wrap img {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  -o-object-fit: contain;
     object-fit: contain;
}
.categories .cat-swiper .item h4 {
  text-transform: capitalize;
  font-size: 22px;
  text-align: center;
}
.categories .cat-swiper .item:hover .image-wrap img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.product-card {
  position: relative;
  border: 1px solid #eee;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.0901960784);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.0901960784);
  aspect-ratio: 1/1;
  padding: 10px;
}
.product-card .image-wrap {
  height: 200px;
  aspect-ratio: 1/1;
  margin: 0 auto 15px;
}
.product-card .body {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.product-card .body .name {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  text-transform: capitalize;
}
.product-card .body .cat-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #000;
  font-size: 22px;
  text-transform: capitalize;
}
.product-card .body .cat-brand .brand {
  color: #CAB748;
  font-size: 18px;
}
.product-card .body .rate .fa-star {
  color: #eee;
}
.product-card .body .rate .fa-star.colored {
  color: #CAB748;
}
.product-card .body .wishlist {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  background: transparent;
  border: 1px soldi #000;
  /* padding: 10px; */
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  z-index: 4;
  font-size: 22px;
}
.product-card .body .wishlist i {
  color: #eee;
  font-size: 24px;
}
.product-card .body .wishlist.listed-to-wish i {
  color: #CAB748;
}
.product-card .body .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 32px;
  color: #000;
  font-weight: bold;
}
.product-card .body .price .final-price {
  color: #CAB748;
}
.product-card .body .price .price-before-sale {
  text-decoration: line-through;
  color: #bbb;
}
.product-card .sale-per {
  position: absolute;
  top: -5px;
  inset-inline-end: -15px;
  background: #CAB748;
  /* padding: 10px; */
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  z-index: 4;
  font-size: 22px;
}

.latest-products-slider .owl-stage-outer,
.best-seller-slider .owl-stage-outer {
  padding: 12px 0;
}
.latest-products-slider .owl-stage-outer .item,
.best-seller-slider .owl-stage-outer .item {
  width: 95%;
  margin: auto;
}

@media screen and (max-width: 1920px) {
  .nav-bar .nav-flex .menu-btn {
    display: none;
  }
  .navbar-mobile {
    opacity: 0;
    visibility: hidden;
  }
  .navbar-mobile.active {
    opacity: 0;
    visibility: hidden;
  }
}
@media screen and (max-width: 1199px) {
  .nav-bar {
    position: relative;
  }
  .nav-bar .nav-flex {
    gap: 15px;
  }
  .nav-bar .nav-flex .navbar-links {
    display: none;
  }
  .nav-bar .nav-flex .contact-btn {
    display: none;
  }
  .nav-bar .nav-flex .icons {
    -webkit-margin-start: auto;
            margin-inline-start: auto;
    font-size: 24px;
    font-weight: bold;
    gap: 10px;
  }
  .nav-bar .nav-flex .icons .main-btn {
    min-width: 90px;
  }
  .navbar-mobile {
    opacity: 1;
    visibility: visible;
  }
  .navbar-mobile.active {
    opacity: 1;
    visibility: visible;
  }
  .navbar-mobile.active .main-btn {
    position: relative;
    z-index: 2;
    margin: 0;
    min-width: 120px;
  }
}
@media screen and (max-width: 991px) {
  nav .upper-bar .navbar-brand img {
    width: 55px;
  }
  nav .upper-bar .search-form {
    display: none;
  }
  nav .nav-bar .nav-flex .navbar-links {
    display: none;
  }
  nav .nav-bar .nav-flex .toggle-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .nav-bar .nav-flex .search-form {
    display: block;
  }
  header .hero-section {
    height: auto;
  }
  .col--edit {
    margin-bottom: 30px;
  }
  .nav-bar .nav-flex .languages {
    margin-right: auto;
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .product-card .sale-per {
    inset-inline-end: 0;
  }
}/*# sourceMappingURL=style.css.map */